{% extends 'base.html.twig' %}

{% block contextmenu %}
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group" aria-label="...">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="{{ path('useredit', {'userid': user.id}) }}" type="button" data-toggle="tooltip" data-placement="bottom" title="User bearbeiten" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a href="{{ path('changePassword', {'userid': user.id}) }}" type="button" data-toggle="tooltip" data-placement="bottom" title="Userpasswort ändern" class="btn btn-default"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></a>
                        {% if user.enabled %}
                            <a href="{{ path('changeUserActivation', {'userid': user.id}) }}" type="button" data-toggle="tooltip" data-placement="bottom" title="User deaktivieren" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        {% else %}
                            <a href="{{ path('changeUserActivation', {'userid': user.id}) }}" type="button" data-toggle="tooltip" data-placement="bottom" title="User aktivieren" class="btn btn-success"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-7">
            <h3>Benutzerübersicht</h3>
            <br><br>
            <div class="row">
                <div class="col-md-4"><p><span class="list-label">Username:</span></p></div>
                <div class="col-md-8"><p>{{ user.username }}</p></div>
                <div class="col-md-4"><p><span class="list-label">Name:</span></p></div>
                <div class="col-md-8"><p>{{ user.vorname }} {{ user.nachname }}</p></div>
                <div class="col-md-4"><p><span class="list-label">Zuletzt Online:</span></p></div>
                <div class="col-md-8"><p>{{ user.lastlogin | ago }}</p></div>
                <div class="col-md-4"><p><span class="list-label">Rolle:</span></p></div>
                <div class="col-md-8"><p>{% if user.isAdmin() %}
                            Admin
                        {% else %}
                            User
                        {% endif %}</p></div>
                <div class="col-md-4"><p><span class="list-label">Aktiv:</span></p></div>
                <div class="col-md-8"><p>{% if user.enabled %}
                            <span class="glyphicon glyphicon-ok glyphicon-green" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove glyphicon-red" aria-hidden="true"></span>
                        {% endif %}</p></div>
            </div>
        </div>
    </div>
    <br><br>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Ticket-ID</th>
                <th>Kunde</th>
                <th>Titel</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr class='clickable-row' data-href='{{ path('showTicket', {'tid': ticket.tid}) }}'>
                    <td>{{ ticket.tid }}</td>
                    <td>{{ getCustomerName(ticket.kid) }}</td>
                    <td>{{ ticket.titel }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}

